@{
    ViewData["Title"] = "Visualizador";
}

<style>
    #color {
        width: 800px;
        height: 800px;
    }
</style>

<!-- Import the component -->
<script type="module" src="https://unpkg.com/@@google/model-viewer/dist/model-viewer.min.js"></script>
<script data-main="scripts/app" src="js/require.js"></script>
<!-- Use it like any other HTML element -->
<model-viewer id="color" camera-controls interaction-prompt="none" src="models/table.gltf" ar
    ar-modes="webxr scene-viewer quick-look" alt="A 3D model of an astronaut">
    <div class="controls" ,="" id="color-controls">
        <button data-color="1,0,0,1">Red</button>
        <button data-color="0,1,0,1">Green</button>
        <button data-color="0,0,1,1">Blue</button>
    </div>
</model-viewer>
<p id="demo">teste</p>

<script>
    //import * as data from './model/example.json';
    //    const {name} = data;
    const modelViewerColor = document.querySelector("model-viewer#color");

    document.querySelector('#color-controls').addEventListener('click', (event) => {
       
        // ES6/ES2015
        // app.js
        
        //console.log(name); // output 'testing'
        

       var json = require('./model/table.gltf');

       console.log(json.meshes[0].primitives[0].material);

    });

     
</script>